body {background-color: black; font-family:Verdana, Geneva, sans-serif;}
        .entrada {
            border: 1px solid black;
            border-radius: 9px;
            background-color: inherit;
            color: white;
            padding: 3px;
            width: 20%;
            font-size: 22px;
            margin-bottom: 10px;
        }
        .medio {
            color: white;
            border-radius: 0px 10px 10px 10px;
            border: none; //2px solid #276b97;
            padding: 10px;
            position: absolute;
            float: left;
            left:0px;
            top:34px;
            font-size: x-large;
            width: 330px;
            z-index: 1;
            background-color:#17202a;
        }
        .tablita { 
            color:white; 
            text-align: center; 
            border-collapse:separate; 
            width:100%;
        }
        .tabla2 {
            border-collapse:collapse;
        }
        .nav {
            color:white; 
            border-radius: 10%; 
            background: "red"; 
            text-decoration: none; 
        }
        .largo { padding: 0px 30px 0px 30px; }
        .foot { text-align:left; margin-bottom: 0px; }
        .mes { background-color: #292e2f; cursor: pointer; }
        td { 
            height: 45px; 
            width: 45px; 
            padding:0px; 
            border-radius: 5px;
        }
        .tabla2 td { height: 40px; }
        .ventana {
            width:98%;
            border-radius:10px;
            border: 2px solid #276b97;
            padding: 2px;
            position: absolute;
            color: green;
            text-align: center;
        }
        h2 { text-align: center; }
        .referencias { font-size: 15px; text-align: right; padding: 2px;}
        .M { background-color: #6ec16e; border-radius: 2px; width: 20%;}
        .T { background-color: #d28a31; border-radius: 2px; width: 20%;}
        .N { background-color: #9a2626; border-radius: 2px; width: 20%;}
        .D { background-color: #4d4dcc; border-radius: 2px; width: 20%;}
        .titulo { width: 80%; font-size: 24px; }
        .col { background-color: black;}
        .c { border-left: 1px solid #276b97; border-right: 1px solid #276b97; }
        .c1 { border-bottom: 1px solid #276b97;}
        .c2 { border-top: 1px solid #276b97;}
        #slider { width: 100%;}
        .fecha {
            width: 190px;
            border: 3px solid #276b97;
            border-radius: 9px;
            background-color: black;
            color: white;
            padding: 3px;
            font-size: 22px;
            text-align: center;
            position: relative;
            left: 8px;
            top: 0px;
        }
        .redondo { 
            border-radius: 50%; 
            width: 30px; 
            height: 30px; 
            position:relative; 
            float:right; 
            margin-right:10px; 
            display: block;
        }
        input[type="color"] {
            opacity:0; 
        }
        .menu { 
            border-radius: 10px 10px 0px 0px; 
            border: 2px solid #276b97;
            border-bottom: none;
            position: relative;
            left: 2px;
            width: 140px;
            padding: 0px 15px 0px 15px;
            cursor: pointer;
            color: white;
            font-size: 18px;
            z-index: 2;
        }
		.menu:focus { outline: none; }
        #mes-anio {
            background-color: inherit;
            border: 1px solid red;
            font-size: inherit;
            cursor: pointer;
        }
		.modal {
			display: none;
			position: fixed;
			z-index: 3; 
			padding-top: 100px; 
			left: 0;
			top: 0;
			width: 100%; 
			height: 100%; 
			background-color: rgba(0,0,0,0.6); 
		}
		.modal-content {
			background-color: #090c0e;
			margin-left: 70px;
			padding: 20px;
			border: 1px solid #26e06d;
			border-radius: 5px;
			width: 230px;
			position: relative;
			left: -21px;
			box-shadow: 0px 0px 10px -3px #26e06d;
		}
		.close {
			color: white;
			font-size: 20px;
			font-weight: bold;
			position: absolute;
			background-color: green;
			width: 50px;
			height:50px;
			border: 1px solid green;
			border-radius: 50%;
			padding: 3px;
			left: 170px;
			bottom: -25px;
		}
		.close:hover,
		.close:focus {
			background-color: #459528;
			color: black;
		}
		.titulo-modal {
			color: #6981a6;
			font-size: 16px;
			position: relative;
			padding: 0px;
			margin: 0px 0px 10px 0px;
		}
		hr { color: white } 
		.fondo { background-color: #232629; }
		.sel { background-color: #cb4335; }
		.config { text-align: center; }
		#up1, #up2, #up3, #dw1, #dw2, #dw3 { cursor: pointer; }
		#dd, #mm, #yyyy { border-top: 1px solid green; border-bottom: 1px solid green; border-radius: 0px; padding:0px 10px 0px 10px;}
		#dd { width: 45px; }
		#mm { width: 120px; }
		#yyyy { width: 70px; }
		.hoy { position: relative; bottom: -10px; left: -5px; }
